:root {
	--success-color: #2ecc71;
	--error-color: #e26456;
	--font-family: 'Open Sans', sans-serif;

}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--font-family);
	background: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	background-image: url('https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	backdrop-filter: blur(6px);
}

.container {
	background: white;
	border-radius: 5px;
	box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
	max-width: 40rem;
	width: 100%;
}

.form {
	padding: 3rem 4rem;

	h2 {
		text-align: center;
		margin-bottom: 2rem;
		font-family: 'Miniver',
			cursive;
		font-weight: 400;
		font-size: 3.6rem;
	}

	button {
		font: inherit;
		cursor: pointer;
		background: hsl(204, 70%, 53%);
		border: 2px solid hsl(204, 70%, 53%);
		border-radius: 4px;
		color: white;
		display: block;
		font-size: 1.6rem;
		padding: .6em;
		margin-top: 2rem;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: .08em;

		&:hover {
			background: hsl(208, 70%, 53%);
		}

	}
}

.form-control {
	margin-bottom: 1rem;
	padding-bottom: 2rem;
	position: relative;

	label {
		color: #999;
		display: block;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
		letter-spacing: .08em;
		font-weight: 600;
		font-size: 1.2rem;
	}

	input {
		font: inherit;
		border: 2px solid #f0f0f0;
		border-radius: 4px;
		display: block;
		width: 100%;
		padding: 1rem;
		font-size: 1.4rem;

		&:focus {
			outline: 0;
			border-color: #999;
		}
	}

	small {
		color: var(--error-color);
		position: absolute;
		bottom: 0;
		left: 0;
		visibility: hidden;
	}

	&.success {
		input {
			border-color: var(--success-color);
		}
	}

	&.error {
		input {
			border-color: var(--error-color);
		}

		small {
			visibility: visible;
		}
	}

}